* {
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 10pt;
}
body {
    margin:0;
    background-color:#999;
}
#outer {
    min-height:750px;
    width:1000px;
    margin: 0 auto;
    background-color:#f8f8f8;
}
#header {
    text-align: center;
    height:50px;
    color: white;
}
#footer {
    text-align: center;
    font-style: normal;
    font-size: 8pt;
    color: #aaa;
    padding-top: 5px;
    height:25px;
    width:100%;
    border-top:1px dotted #666;
}
#header,#footer{
    background-color:#585353;
}
#bodyblock {
    border: 1px solid #f8f8f8;
}
#content {
    width:900px;
}
#menu {
    display:block;
    font-weight: bold;
    float:right;
    width: 100px;
    background-color: #eee;
    border-left: 1px dotted #585353;
    height: 110%;
    overflow: hidden;
}
#bodyblock{ height: 675px; overflow: scroll;}

#menu ul {
    list-style:none;
    margin:0;
    padding:0 0 50% 5px;
    font-weight: normal;
}
#menu ul a {
    font-weight:bold;
}
#header h1 {
    margin: 0;
    font-size: 16pt;
    padding: 5px 0;
}
#header img {
    float: right;
}
a {
    color: #800000;
    text-decoration: none;
}

.message {
    color: #390;
}
.error {
    color: #BC2C2F;
}
input {
    display: block;
}
select {
    display: block;
}
.submit {
    padding-top: .5em;
    display: block;
}
form.mainform {
    display: block;
    width: 700px;
    min-height: 400px;
    margin: 20px auto;
    padding: 60px 20px;
    border: 1px dotted #666;
}
form.mainform * {
    margin: 10px 10px;
    font-size: 24pt;
    vertical-align: middle;
}
form.mainform div {
    display: block;
}
form.mainform div.class div.select {
    margin: 0 auto;
}
form.mainform label, form.mainform select {
    float: left;
}
form.mainform label {
    color: #999;
}
form.mainform select {
    padding: 25px 25px;
}
form.mainform div.submit {
    margin-right: 60px;
    float: right;
}
form.mainform div.submit input {
    display: inline-block;
    color: white;
    padding: 10px;
    background-color: #666;
}