@import url(http://fonts.googleapis.com/css?family=Belleza|Sanchez:400italic,400|Open+Sans:400italic,400,700);
html, body {
    height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#footer {
    height: 60px;
}
#footer {
    background-color: #eeeeee;
    font-size: 10pt;
    padding-top: 10px;
}

.btn {
    display: table;
}
.btn small {
    font-size: 65%;
}
.btn > i {
    vertical-align: middle;
    display: table-cell;
    padding-right: 5px;
}
.jumbotron h1 {
    color: #6A478B;
    font-family: 'Open Sans';
    font-weight: bold;
}
#sidebar {
    background-color: #eeeeee;
    border-radius: 12px;
    padding: 10px 0;
}
#sidebar li > a:hover {
    background-color: #ddd;
}
.affix {
    position: static;
}
.affix-bottom {
    position: absolute;
}
.download-btn {
    min-width: 165px;
    margin: 5px auto;
}
.download-btn i {
    font-size: 18pt;
}
.download-btn > i {
    margin-right: 5px;
}
@media screen and (min-width: 600px) {
    .jumbotron h1 { margin-top: 5px; }
    .jumbotron .row {
        display: table;
    }
    .jumbotron .row > .col-md-2 {
        display: table-cell;
        float: none;
        vertical-align: middle;
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
/* Show and affix the side nav when space allows it */
  .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .affix,
  .affix-bottom {
    width: 213px;
  }
  .affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .affix-bottom .bs-sidenav,
  .affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .affix-bottom,
  .affix {
    width: 263px;
  }
}
.menu-item-h3 {
    font-size: 75%;
    margin-left: 1.5em;
}
