* {
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 10pt;
}
body {
    margin:0;
    width:100%;
    height:100%;
}
#bodyblock {
    min-height:300px;
    height:100%;
}
#outer {
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
#header {
    text-align: center;
    background-color: #666;
    color: white;
}
#header h1 {
    margin: 0;
    font-size: 16pt;
    padding: 5px 0;
}
#header img {
    float: right;
}
#footer {
    text-align: center;
    font-style: normal;
    font-size: 8pt;
    color: #aaa;
    padding-top: 5px;
    height:30px;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    border-top:1px dotted #666;
    background-color:#eee;
}
#content {
    padding-left:10px;
}
#menu {
    display:block;
    font-weight: bold;
    float:right;
    height:100%;
    width: 100px;
    background-color: #eee;
    border-left: 1px dotted #666;
}
#menu ul {
    list-style:none;
    margin:0;
    padding:0 0 50% 5px;
    font-weight: normal;
}
#menu ul a {
    color:#BC2C2F;
    text-decoration: none;
}
#content {
    margin-right: 120px;
}
.message {
    color: #390;
}
.error {
    color: #BC2C2F;
}
input {
    display: block;
}
select {
    display: block;
}
.submit {
    padding-top: .5em;
    display: block;
}
form.mainform {
    display: block;
    width: 700px;
    min-height: 400px;
    margin: 20px auto;
    padding: 60px 20px;
    border: 1px dotted #666;
}
form.mainform * {
    margin: 10px 10px;
    font-size: 24pt;
    vertical-align: middle;
}
form.mainform div {
    display: block;
}
form.mainform div.class div.select {
    margin: 0 auto;
}
form.mainform label, form.mainform select {
    float: left;
}
form.mainform label {
    color: #999;
}
form.mainform select {
    padding: 25px 25px;
}
form.mainform div.submit {
    margin-right: 60px;
    float: right;
}
form.mainform div.submit input {
    display: inline-block;
    color: white;
    padding: 10px;
    background-color: #666;
}