[submodule "fastbit/fastbit-ibis"]
	path = fastbit/fastbit-ibis
	url = git@git.warelab.org:fastbit
[submodule "external/bootstrap"]
	path = external/bootstrap
	url = https://github.com/twitter/bootstrap.git
