[submodule "external/bootstrap"]
	path = external/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "external/jquery"]
	path = external/jquery
	url = git://github.com/jquery/jquery.git
[submodule "external/d3"]
	path = external/d3
	url = git://github.com/mbostock/d3.git
[submodule "examples"]
	path = examples
	url = git://github.com/silvn/iris-examples
[submodule "external/snapdragon"]
	path = external/snapdragon
	url = git://github.com/silvn/snapdragon
[submodule "external/CodeMirror"]
	path = external/CodeMirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "external/backbone.localstorage"]
	path = external/backbone.localstorage
	url = git://github.com/jeromegn/Backbone.localStorage.git
[submodule "external/datatables"]
	path = external/datatables
	url = git://github.com/DataTables/DataTables.git
[submodule "external/dt-columnfilter"]
	path = external/dt-columnfilter
	url = git://github.com/cyberhobo/ColumnFilterWidgets.git
[submodule "external/font-awesome"]
	path = external/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome
[submodule "external/bootstrap-arrows"]
	path = external/bootstrap-arrows
	url = git://github.com/iarfhlaith/Bootstrap-Arrows
[submodule "external/requirejs-text"]
	path = external/requirejs-text
	url = git://github.com/requirejs/text.git
