[submodule "external/bootstrap"]
	path = external/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "external/jquery"]
	path = external/jquery
	url = https://github.com/jquery/jquery.git
[submodule "external/d3"]
	path = external/d3
	url = https://github.com/mbostock/d3.git
[submodule "examples"]
	path = examples
	url = https://github.com/gingi/iris-examples
[submodule "external/snapdragon"]
	path = external/snapdragon
	url = https://bitbucket.org/garden/snapdragon
[submodule "external/CodeMirror"]
	path = external/CodeMirror
	url = https://github.com/marijnh/CodeMirror.git
[submodule "external/backbone.localstorage"]
	path = external/backbone.localstorage
	url = https://github.com/jeromegn/Backbone.localStorage.git
