<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" 
        href="/css/kbase.css">
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" 
        href="/css/colorbrewer.css">
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" 
        href="/css/bootstrap.css">
    <style type="text/css" media="screen">
        #container { margin-top: 40px; }
    </style>
    <script src="/js/require.js"></script>
    <script>
        require(["/js/config.js"], function () {
            require(["/js/<%= js %>.js"])
        })
    </script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner" style="padding: 0 20px">
            <a class="brand" href="#"><%= title %></a>
            <ul class="nav">
                <li><a href="/">Home</a></li>
            </ul>
            <div id="progress-indicator" class="span2 pull-right"></div>
        </div>
    </div>
    <div id="container" class="container">
    <div id="datavis"></div>
</div>
<div class="hud" id="infobox" style="display:none"></div>
<div class="hud" id="dockhud" style="display:none"></div>
</body>
</html>