<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" 
        href="/css/colorbrewer.css">
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" 
        href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" 
        href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" charset="utf-8"
        href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8"
        href="/css/identity.css">
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8"
        href="/css/kbase-common.css">
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" 
        href="/css/kbase.css">
    <style type="text/css" media="screen">
        #container { margin-top: 80px; }
    </style>
    <script src="/js/require.js"></script>
    <script>
        require(["/js/config.js"], function () {
            require(["/js/<%= js %>.js"])
        })
    </script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
    <div id="nav" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a href="#">
                <img class="logo" src="/img/kbase-logo-small.png"/>
            </a>
            <a class="brand" href="#"><%= title %></a>
            <ul class="nav">
                <li><a href="/">Home</a></li>
            </ul>
            <div id="progress-indicator" class="span2 pull-right"></div>
        </div>
    </div>
    <div id="container" class="container">
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Warning!</strong> Databases undergoing maintenance. Data may be incorrect or incomplete. Explore these cool visualizations at your own risk!
        </div>
        <div id="datavis"></div>
    </div>
</body>
</html>