<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" 
        href="/css/colorbrewer.css">
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" 
        href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" charset="utf-8"
        href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8"
        href="/css/identity.css">
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8"
        href="/css/kbase-common.css">
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" 
        href="/css/kbase.css">
    <style type="text/css" media="screen">
        #container { margin-top: 80px; }
    </style>
    <script src="/js/require.js"></script>
    <script>
        require(["/js/config.js"], function () {
            require(["/js/<%= js %>.js"])
        })
    </script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<div id="wrap">
    <div id="nav navbar-nav" class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <a href="#">
                <img class="logo" src="/img/kbase-logo-small.png" width="46px"/>
            </a>
            <a class="navbar-brand" href="#"><%= title %></a>
        </div>
        <ul class="nav navbar-nav" id="nav-content">
        </ul>
        <ul class="nav navbar-nav pull-right" id="nav-content-right">
            <li><a href="#" id="help-link"><i class="icon-question-sign"></i> Help</a></li>
            <li><a href="/">Datavis Library</a></li>
        </ul>
        <div id="progress-indicator" class="col-md-2 pull-right"></div>
    </div>
    <div id="container" class="container">
        <div id="datavis" class="container"></div>
    </div>
</div>
<% include layout/footer %>
</body>
</html>