!!! 5
html(lang="en")
head
    title() Select Study
    link(rel="stylesheet", href="/static/css/bootstrap.css")
    link(rel="stylesheet", href="/static/css/kbase.css")

body
    .topbar
        .fill
            .container
                a(class="brand", href="#") Kbase Web
                ul(class="nav")
                    li(class="active")
                        a(href="#") Home
                    li
                        a(href="#about") About
                    li
                        a(href="#contact") Contact
                    form(action="", class="pull-right")
                        input(class="input-small", type="text", placeholder="Username")
                        input(class="input-small", type="password", placeholder="Password")
                        button(class="btn", type="submit") Sign in
                        
    .container
        .content
            .row
                .span10
                    form(action="view",method="get",class="form-stacked",accept-charset="utf-8")
                        fieldset(id="select_study")
                            .clearfix
                                label() Study
                                .input
                                   select(type="select",multiple="no",class="xlarge",size="4",name="study")
                                        option(value="3032") Arabidopsis 2010 Study 3032
                                        option(value="3034") Arabidopsis 2010 Study 3034
                                        option(value="3396") Arabidopsis 2010 Study 3396
                                        option(value="1") Arabidopsis 2010 Nonexistent Study
                        input(class="btn primary", type="submit", value="Explore &rarr;")
                .span4
                    h3() Sidebar
        footer() <p> &copy; Cold Spring Harbor Laboratory 2011 </p>