extends layout

block content
    .jumbotron
        .container
            img(src="/img/iris-logo.png", width="120px",align="left",style="margin-right:20px")
            h1(style="font-family:'Rockwell'") Iris
                small &nbsp;v#{version}
            p A web library for data visualization and exploration
