extends layout

block content
    .hero-unit
        img(src="/img/iris-logo.png", width="100px",align="left",style="margin-right:20px")
        h1(style="font-family:'Rockwell'") Iris
        p A web application for exploration of biological data
