<!DOCTYPE html>
<html>
<head>
    <title>Iris</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/iris.css">
    <style>
        body { padding-top: 50px; }
    </style>
</head>
    <body>
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Iris</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul id="nav" class="nav navbar-nav"></ul>
                    <p class="navbar-text navbar-right">
                        <a href="http://github.com/silvn/iris"
                           class="navbar-link">
                            <i class="fa fa-github fa-lg"></i> <%= version %>
                        </a>
                    </p>
                </div>
            </div>
        </nav>
    <div id="container" class="container">
        <div id="content" class="content">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-3">
                        <img class="logo" align="right"
                            src="/img/iris-logo.png"/>
                    </div>
                    <div class="col-md-8">
                        <h1>
                            Iris<small>&nbsp;v<%= version %></small>
                        </h1>
                        <p class="lead">
                            A web library for data visualization and exploration
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/require.js"></script>
    <script>
        require(['/js/config.js'], function () {
            require(['/js/frontpage.js']);
        });
    </script>
</body>
</html>