<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
      <div class="navbar navbar-fixed"></div>
      <div class="container">
          <div class="hero-unit">
              <h1>KBase DataVis</h1>
              <h4>A data visualization library for the KBase Project</h4>
          </div>
          <div class="row">
              <div class="span3">
                  <h3>Networks</h3>
                  <p>A workbench for network exploration.</p>
                  <p><a class="btn" href="/network">Launch »</a></p>
              </div>
              <div class="span3">
                  <h3>GenoPheno</h3>
                  <p>Visualizations of genomic diversity</p>
                  <p><a class="btn" href="/g2p">Launch »</a></p>
              </div>
              <div class="span3">
                  <h3>Heatmap</h3>
                  <p>Expression profile heatmaps. There&#x27;s also <a href="/heatmap-chunking">an example</a> demonstrating HTTP chunking.</p>
                  <p><a class="btn" href="/heatmap">Launch »</a></p>
              </div>
              <div class="span3">
                  <h3>Charts</h3>
                  <p>Basic charts for KBase data.</p>
                  <p><a class="btn" href="/charts">Launch »</a></p>
              </div>
          </div>
          <hr/>
          <footer>&copy; Ware Lab for the DOE KBase Project 2012-2013</footer>
      </div>
  </body>
</html>