!!! 5
html(lang="en")
head
    script(src="/javascripts/raphael.js",type="text/javascript",charset="utf-8")
script(src="/javascripts/jquery-1.7.js",type="text/javascript",charset="utf-8")
script(src="/javascripts/fastbit-jquery.js",type="text/javascript",charset="utf-8")
link(rel='stylesheet',href='http://localhost:3001/stylesheets/style.css', type="text/css", media="screen")
link(rel='stylesheet',href='http://localhost:3001/stylesheets/widgets.css', type="text/css", media="screen")

body
    div#header
        h1= title
    #bodyblock
        div#menu
            ul
                li <a href="/">Home</a>
                li <a href="/about" title="About">About</a>
        div#content
            link(rel='stylesheet',
            href="http://localhost:3001/stylesheets/widgets.css",
            type="text/css",media="screen");

            .widget
                #topwidget
                #gwasquery_form
                    form(id="gwasquery_form", name="gwasquery",action="")
                        fieldset
                            label(for="study", id="study") Study
                            input(type="text", name="study", id="study", size="10", value="", class="text-input")
                            
                            label(for="chr", id="chr") Chr
                            input(type="text", name="chr", id="chr", size="10", value="", class="text-input")
                            
                            label(for="xbin", id="xbin") X-bin
                            input(type="text", name="xbin", id="xbin", size="10", value="", class="text-input")
                            
                            label(for="ybin", id="ybin") Y-bin
                            input(type="text", name="ybin", id="ybin", size="10", value="", class="text-input")
                            
                            input( type="button", name="fetch_json", class="button", id="gwasquery_button", value="Send")
                
                
                
                
            .widget
                #bottomwidget
                
    div#footer
        | Copyright (c) 2011 Cold Spring Harbor Laboratory

        