!!! 5
html(lang="en")
head
    title() Kbase
    link(rel="stylesheet", href="/static/css/bootstrap.css")
    link(rel="stylesheet", href="/static/css/kbase.css")

body
    .topbar
        .fill
            .container
                a(class="brand", href="#") Kbase Web
                ul(class="nav")
                    li(class="active")
                        a(href="#") Home
                    li
                        a(href="#about") About
                    li
                        a(href="#contact") Contact
                    form(action="", class="pull-right")
                        input(class="input-small", type="text", placeholder="Username")
                        input(class="input-small", type="password", placeholder="Password")
                        button(class="btn", type="submit") Sign in
    
    .container
        .content
            .row
                .span10
                    ul
                    li
                        a(href="/node/gwas/study/") GWAS Prototype
                .span4
                    h3() Sidebar
        footer() <p> &copy; Cold Spring Harbor Laboratory 2011 </p>
                            