!!!
html
	head
		title= title
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="/javascript/scatter.js"></script>
		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body!= body