link(rel="stylesheet", href="/css/renderers.css")
link(rel="stylesheet", href="/css/iris.css")

block scripts
    script(type="text/javascript", data-main="/js/app", src="/js/require.js")
    script(type="text/javascript")
        requirejs.onError = function (err) {
            if (err.requireType == 'scripterror') {
                require(["jquery"], function ($) {
                    $("#content").html("Renderer does not exist");
                })
            }
            console.log("RequireJS error", err);
        }
        require(["renderers/#{name}"], function (renderer) {
            var elem = document.getElementById("renderMe");
            renderer.render({target: elem});
        });

block content
    div(id="renderMe", style="position: relative; min-width:500px")
