link(rel="stylesheet", href="/css/iris.css")

block scripts
    script(type="text/javascript", src="/js/require.js")
    script(type="text/javascript")
        require(["/js/config.js"], function () {
            require(["widgets/#{name}"], function (Widget) {
                var widget = new Widget();
                widget.display(document.getElementById("widget"));
            });
        })

block content
    div(id="widget", style="position: relative; min-width:500px")
