!!! 5
html(lang="en")
head
    title Iris - #{title}
    link(rel="stylesheet", href="/css/bootstrap.css")
    style
        html, body { background-color: #eee; }
        body { padding-top: 40px; }
        .content {
            background-color: white;
            padding: 20px; margin: 0 -20px;
            -webkit-border-radius: 0 0 6px 6px;
               -moz-border-radius: 0 0 6px 6px;
                    border-radius: 0 0 6px 6px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
               -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                    box-shadow: 0 1px 2px rgba(0,0,0,.15);
        }
        .page-header {
            background-color: #f5f5f5;
            padding: 20px 20px 10px;
            margin: -20px -20px 20px;
        }
        .content .span8,
        .content .span4 {
            min-height: 300px;
        }
        /* Give a quick and non-cross-browser friendly divider */
        .content .span4 {
            margin-left: 0;
            padding-left: 19px;
            border-left: 1px solid #eee;
        }
body
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                a(class="brand", href="/") Kbase 
                ul(class="nav")
                    li(class="active")
                        a(href="/") Home
                    li
                        a(href="/about") About
                    li
                        a(href="/contact") Contact
                form(action="", class="navbar-form pull-right")
                    input(class="input-small", type="text", placeholder="Username")
                    input(class="input-small", type="password", placeholder="Password")
                    button(class="btn", type="submit") Sign in
                ul(class="nav pull-right")
                    li
                        a(href="#", class="ajaxSpinner")
                         span(class="badge badge-info ajaxWatchTally ajaxWatch", title="Requests")
    
    .container
        .content
            .row
                .span12
                    script(type="text/javascript",src="/js/jquery.js")
                    script(type="text/javascript",src="/js/bootstrap/bootstrap-tooltip.js")
                    script(type="text/javascript",src="/js/bootstrap/bootstrap-popover.js")
                    script(type="text/javascript",src="/js/spin.min.js")
                    script(type="text/javascript",src="/js/jquery.spin.js")
                    script(type="text/javascript",src="/js/ajaxWatcher.js")
            .row
                body!= body
        footer()
            p(style="text-align:center") &copy; 2012 Cold Spring Harbor Laboratory
