<p>The workbench provides visual exploration of networks within KBase. Start by selecting one of the example pathways. The genes associated with the pathway are placed in the gray <strong>Dock</strong>. The Dock is a fixed box that allows you to isolate genes or clusters of interest. A Dock panel is shown at the top right and provides several controls:</p>
<ul>
    <li>The <a class="btn btn-mini btn-primary"><i class="icon-plus-sign"></i> Clusters</a> button retrieves all clusters that have the docked genes as their members</li>
    <li>The <a class="btn btn-mini"><i class="icon-plus-sign"></i> Co-Neighbors</a> button is used to retrieve any other members of the clusters that are also connected with the docked genes by another relationship.</li>
    <li>The <a class="btn btn-mini"><i class="icon-external-link"></i> Internal</a> button retrieves the internal network among the docked genes, including all connections among them. The internal network is shown in a separate dialog box that for further manipulation such as data export.</li>
</ul>
