.widget {
    background-color: #333;
    color:#fff;
    display:block;
    border:1px solid #999;
    height:50%;
    min-height:250px;
    max-height:300px;
    margin:30px 30px 0;
    text-align: left;
    overflow: auto;
}
h2 {
    text-align: center;
}