style
    .btn-large {
        margin: 0px 10px;
        padding: 12px 20px;
    }

.masthead(style="text-align:center")
    h1= title
    p(class="lead") Infrastructure diagram
      a(href="/img/inf-diagram.png", class="thumbnail")
        img(src="/img/inf-diagram.png")

