table(class="table table-striped")
    tr
        td
            h3 Manhattan Plot
        td
            div(class="btn-group")
                a(class="btn btn-primary", href="/widget/manhattan?species=at&study=3396") Non-layout
                a(class="btn", href="/widget/manhattan?species=at&study=3396&layout=on") Layout
    tr
        td
            h3 Bar Chart
        td
            div(class="btn-group")
                //- TODO: Example links
                a(class="btn btn-primary", href="/widget/manhattan?species=at&study=3396") Non-layout
                a(class="btn", href="/widget/manhattan?species=at&study=3396&layout=on") Layout
    tr
        td
            h3 Data Viewer
        td
            div(class="btn-group")
                //- TODO: Example links
                a(class="btn btn-primary", href="/widget/manhattan?species=at&study=3396") Non-layout
                a(class="btn", href="/widget/manhattan?species=at&study=3396&layout=on") Layout
    tr
        td
            h3 Parallel Coordinate Plot
        td
            div(class="btn-group")
                //- TODO: Example links
                a(class="btn btn-primary", href="/widget/manhattan?species=at&study=3396") Non-layout
                a(class="btn", href="/widget/manhattan?species=at&study=3396&layout=on") Layout
    tr
        td
            h3 Chord
        td
            div(class="btn-group")
                a(class="btn btn-primary", href="/widget/chord") Non-layout
                a(class="btn", href="/widget/chord?layout=on") Layout
