link(rel='stylesheet', href='/stylesheets/widgets.css')
div#topwidget
	iframe(name='cappuccino',
	 	src='/javascripts/manhattan/index.html?pinZero=0&refine=1&study=full_results&id='+study,
		scrolling="no", width="700", height="300", marginheight="0", marginwidth="0", frameborder="yes")
