link(rel='stylesheet', href='/stylesheets/widgets.css')
div#topwidget
	iframe(name='cappuccino',
	 	src='/javascripts/manhattan/index-debug.html?study=' + experiment + '&id=' + study + '&renderer=histogram&initialBins=110',
		scrolling="no", width="100%", height="100%", marginheight="0", marginwidth="0", frameborder="yes")
