link(rel='stylesheet', href='/stylesheets/widgets.css')
div#topwidget
	iframe(name='cappuccino',
	 	src='http://wildcat.cshl.edu:3000/static/javascript/manhattan/index.html?pinZero=0&refine=1&study=assoc&id='+study,
		scrolling="no", width="700", height="300", marginheight="0", marginwidth="0", frameborder="yes")
