extends layout

style
    .btn-demo {
        padding: 12px 20px;
        min-width: 160px;
    }
    .btn-wrapper {
        display: table-cell;
        min-width: 210px;
    }
    .btn-row {
        margin: 0 auto 10px;
        text-align: center;
        display: table;
    }
script
    $(function () {
        $(".btn").popover();
    });

block content
    .masthead(style="text-align:center")
        h1 Iris
        p(class="lead") Iris