style
    .btn-large {
        margin: 0px 10px;
        padding: 12px 20px;
    }

.masthead(style="text-align:center")
    h1= title
    p(class="lead") A visualization playground for the DOE Knowledgbase Project

    p(style="display:block")
        a(class="btn btn-primary btn-large", href="/workspace") Workspace Demo
        a(class="btn btn-primary btn-large", href="/RendererPlayground.html") Renderer Playground
        a(class="btn btn-primary btn-large", href="/simple") Renderer Browser
