link(rel="stylesheet", type="text/css", href="/css/iris.css")
script(type="text/javascript", src="/js/iris.js")
each require in requires
  script(type="text/javascript", src="/js/#{require}")

script(type="text/javascript", src="#{js}")
script(type="text/javascript")
    $(function () {
        Iris.init().then(function () {
            var renderer = Iris.Renderer["#{name}"];
            renderer.render({
                target: document.getElementById("renderMe"),
                data: renderer.exampleData()
            });
        });
    });

div(id="renderMe", style="position: relative; min-width:500px")
