link(rel="stylesheet", type="text/css", href="/css/iris.css")

script(type="text/javascript", src="/js/require-jquery.js",
    data-main="/js/main.js")
script(type="text/javascript")
    require(["iris", "#{js}"], function (Iris) {
        console.log("renderer.jade");
        Iris.init().then(function () {
            var renderer = Iris.Renderer["#{name}"];
            renderer.render({
                target: document.getElementById("renderMe"),
                data: renderer.exampleData()
            });
        });
    });

div(id="renderMe", style="position: relative; min-width:500px")
