link(rel="stylesheet", type="text/css", href="/css/framebuilder.css")
script(type="text/javascript", src="/js/jquery.js")
script(type="text/javascript", src="/js/iris.js")
script(type="text/javascript", src="/js/revalidator.js")
each require in requires
  script(type="text/javascript", src="/js/#{require}")

script(type="text/javascript", src="#{js}")
script(type="text/javascript")
    $(function () {
        x = "Renderer" + Iris.normalizeName("#{name}");
        console.log("Plugin", x);
        eval("$('div')." + x + "('render', { 'data': $('div')." + x + "('example_data'), 'target': 'renderMe' })");
    });

div(id="renderMe", style="position: relative; min-width:500px")
