p example assoc study <a href="/gwas/assoc/3032">assoc/3032</a>
p example padded study <a href="/gwas/padded/3032">padded/3032</a>
p example full_results study <a href="/gwas/full_results/3396">full_results/3396</a>