link(rel="stylesheet", type="text/css", href="/css/jquery-ui.css")
link(rel="stylesheet", type="text/css", href="/css/iris.css")
script(type="text/javascript", src="/js/jquery.js")
script(type="text/javascript", src="/js/iris.js")
script(type="text/javascript")
	$(function () {
		var selectedData = Iris.Model.create({ name: ""	 });
		var selectedRenderer = Iris.Model.create({ name: "" });
		var widget = Iris.Widget.extend({
			renderers: [ '/renderer/' ],
			services:  [ '/' ],
			dataflows: [ '/dataflow/' ],
			libraries: '/js/',
			el: 'widget1',
		});
		widget.display();
	});
	
.well(id="widget1")
.well(id="control")
	img(src="/img/graph.gif", style="height:48px", onload="Iris.Event.DragDrop(this, 'renderer.linegraph.js', 'renderer');", data-type="3d-matrix")
	img(src="/img/table.png", style="height: 48px", onload="Iris.Event.DragDrop(this, 'renderer.table.js', 'renderer');", data-type="table")
	img(src="/img/piechart.png", style="height: 48px", id="piechart_drag", onload="Iris.Event.DragDrop(this, 'renderer.piechart.js', 'renderer');", data-type="named_numbers")

	hr(style="height:1px")

	script(type="text/javascript")
		for (var i in Iris.TestData) {
			var num = i; num++; // Methinks Jade is retarded.
			var button = $("<p>").addClass("btn").html("TestData " + num);
			$("#control").append(button);
			Iris.Event.DragDrop(button[0], Iris.TestData[i], "data");
		}
