script(type="text/javascript", src="/js/jquery.js")
script(type="text/javascript", src="/js/iris.js")
script
    $(function () {
        var widget = Iris.Widget.create({
            el: $("#widget1")
        });
    });
    
.well(id="widget1")