- var width = 1100
- var height = 500

link(rel="stylesheet", href="/css/widgets.css")
link(rel="stylesheet", href="/css/iris.css")

block scripts
    script(type="text/javascript", src="/js/require.js", data-main="/js/iris")
    script(type="text/javascript", src="#{js}")
    script(type="text/javascript")
        $(function () {
            Iris.init().then(function () {
                var w = Iris.Widget["#{name}"];
                w.create(document.getElementById("#{name}Div"));
            });
        });

div(id="#{name}Div", style="position: relative; min-width:500px")
