link(rel="stylesheet", href="/css/widgets.css")

block scripts
	script(type="text/javascript", src="/js/jquery.js")
	script(type="text/javascript", src="/js/d3.js")
	script(type="text/javascript", src="/js/widgets/widget.js")
	script(type="text/javascript", src="/js/iris.js")
	- each widget in list
		script(type="text/javascript", src="/js/widgets/"+widget.js)
	script
		var selectedElem = null;
		function renderWidget(elem, widgetId) {
			var widget = Widget.createWidget(widgetId);
			widget.render('workspace',{});
			if (selectedElem != null) {
				selectedElem.removeClass('active');
			}
			selectedElem = $(elem);
			selectedElem.addClass('active');
		}

.span8
	h3 Workspace
	div(id="workspace", style="position:relative; min-width:500px")
.span4
	div(class="well", style="padding:8px 0")
		ul(class="nav nav-list")
			li(class="nav-header") Widgets
			- each w in list
				li
					a(href="#", onclick="renderWidget(this.parentNode, '#{w.id}')") #{w.name}
