- var width = 1100
- var height = 500

block append scripts
    script(type="text/javascript", src="/js/widgets/#{js}")
    script(type="text/javascript")
        $(document).ready(function() {
            var widget = Widget.createWidget("#{widget}");
            widget.render("cvx");
        });
    
div(style="position: relative; min-width:500px")
    canvas#cvx(width= width, height= height,
        style="position:absolute;left:0;top:0;z-index:0;")
    canvas#cvxi(width= width, height= height,
         style="position:absolute;left:0;top:0;z-index:1;")
