[% META title = "Select Study" %]
<form action="view" method="get" class="form-stacked" accept-charset="utf-8">
    
    <fieldset id="select_study">
        <div class="clearfix">
            <label for="study">Study</label>
            <div class="input">
                <select type="select" multiple="no" class="xlarge" size="4" name="study">
                    [% FOREACH study IN studies %]
                        <option value="[% study.0 %]">[% study.1 %]</option>
                    [% END %]
                </select>
            </div>
        </div>
    </fieldset>
    <input class="btn primary" type="submit" value="Explore &rarr;">
</form>