Makefile
Makefile.in
autom4te.cache
stamp-h1
config.h
config.log
config.status
libfastbit.la
*.o
*.lo
/data
.deps/
.libs/
libtool
/src/fastbit/src/fastbit-config.h
/src/fastbit/tests/scripts/fastbit-config

# Compiled executables
/src/fbsql_tab
/src/scatter_ez
/src/scatter_new
/src/scatter
/src/ranges
/src/join_once
/src/gwas2go
/src/fbsql
/src/fastbit/examples/thula
/src/fastbit/examples/tcapi
/src/fastbit/examples/ardea
/src/fastbit/examples/ibis
/src/fastbit/examples/rara
# fastbit tests tmp files 
/src/fastbit/tests/tmp/*
