.widget {
    height:40%;
    min-height:250px;
    margin-bottom:10px;
    border: 1px solid #ccc;
}
table.histogram td {
    padding: 0;
    line-height: 1;
    border-bottom: 1px solid white;
}
table.histogram table {
    margin-bottom: 0;
}
table.histogram table td {
    border-top: none;
}